<!--
  ~ /**********************************
  ~  *
  ~  * Node Chat : The Online Auction Selling Marketplace
  ~  *
  ~  * Copyright 2019, IdeaBuyer, LLC
  ~  * All Rights Reserved
  ~  *
  ~  * Laravel Version:			5.7.19
  ~  *
  ~  * created by:		Deepesh Patel
  ~  * created on:		January 3, 2019
  ~  *
  ~  * last modified by:	 Deepesh Patel
  ~  * last modified on:	January 3, 2019 17:52:00, India Standard Time
  ~  ************************************/
  -->

<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chat Application Node</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>-->
    <style>
        *{margin: 0; padding: 0; box-sizing: border-box;}
        body{font: 13px  'Roboto'; font-weight: 900;}
        form{background: #000; padding: 3px; position: fixed;bottom: 0;width: 100%;}
        form input{border: 0;padding: 10px;width: 90%;margin-right: 0.5%;}
        form button{width:9%;background: rgb(130, 224, 255);border: none;padding: 10px;}
        #messages{list-style-type:none; margin: 0; padding: 0;}
        #messages li{padding: 5px 10px;}
        #messages li:nth-child(odd){background: #eee;}

    </style>
</head>
<body >
<div id="chat">
    <!--Get Measage list form server-->
    <ol id="messages">

        <li v-for="message in messages" >
            {{message}}
        </li>
    </ol>
    <!-- `greet` is the name of a method defined below -->
    <form v-on:submit.prevent="SendDataToServer">
        <input v-model="message">
        <button >Send</button>
    </form>

</div>


<!--//socket.io-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <script type="text/javascript">

    var socket = io();
    var app = new Vue({
        el: '#chat',
        data: {
            messages: [],//we get messages array from server socket.io;
            name: 'Vue.js',
            message: '',
            users: [
                { name: 'Foo Bar', email: 'foo@bar.com' },
                { name: 'John Doh', email: 'john@doh.com' }
            ]
        },
        mounted() {
            //this is document.ready function like jquery.
            //load this at time of document load
            this.ReciveDataFromServer();

        },
       /* //this function is deprecated after Vue.js 1.0
        ready: function () {

            //listen for new massage on client side

            socket.on('chat.message', function (message) {
                console.log(message);
                this.messages.push(message);

                console.log(this.messages);

            }.bind(this));


        },*/

// define methods under the `methods` object
        methods: {
            send: function (event) {
// `this` inside methods points to the Vue instance
                alert('Hello ' + this.name + '!')
// `event` is the native DOM event
                if (event) {
                    alert(event.target.tagName)
                }
            },
            SendDataToServer: function () {
                //emit means send data to server by " key:'chat.message' "
                socket.emit('chat.message', this.message);
                this.message='';
            },
            ReciveDataFromServer: function () {

                    //emit means send data to server by " key:'chat.message' "
                    socket.on('chat.message', function (message) {
                        //console.log(message);
                        this.messages.push(message);

                        //console.log(this.messages);

                    }.bind(this));


            }

        }
    })

    // you can invoke methods in JavaScript too
    // app.send() // => 'Hello Vue.js!'

</script>
</body>
</html>